.navbar-brand{
    font-size: xx-large;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titre{
    margin-top: 230px;
    background-color: #D1D1BA;
    font-size: large;
    border: 2px solid black;
    border-radius: 0px 10px 0px 10px;
    width: 250px;
    
  
}
h1{
    display: block;
    padding: 10px;
    background-color: #aba463;
    margin-top: 100px !important;
    margin-bottom: 0px;
    width: 40%;
    margin: auto;

}
.connect{
    border: 2px solid #005C53;
    border-radius: 0px 0px 10px 10px;
    background-color: #005C53;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
    
} 

input{

    background-color: #D1D1BA;
  
}
button{
    border-radius: 0px 10px 0px 10px;
    background-color: #005C53;
    margin-bottom: 40px;
    color: white;
}
