{% extends "../main.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/connect.css">
{% endblock %}

{% block main %}

	<main class="container col-3 ">
		<section class="row mt-4 text-justify">
			<form action="/plantes" method="post" enctype="multipart/form-data">
				<div>
					{# debut multer (***** image *****) #}
					<h4 class="mx-auto mb-4">
					<strong>
						<label id="fileImage" for="image">Choisir une image</label>
						</strong>
					</h4>
					<p>
						<input
						type="file" name="image" id="image">
					{# fin multer (***** image *****) #}
					</p>
				</div>
				<div>
					<label class="switch">Type plante</label>
					<select name="planteType" id="planteType">
						<option value="exterieur">exterieur</option>
						<option value="interieur">interieur</option>
					</select>
				</div>
				<br>
				<div>
					<p>
						<label for="name">Famille de la plante</label>
					</p>
					<p>
						<input type="text" name="family" id="name" class="case">
					</p>
					<p>
						<label for="name">Nom de la plante</label>
					</p>
					<p>
						<input type="text" name="name" id="name" class="case">
					</p>
					<p>
						<label for="name">Arrosage</label>
					</p>
					<p>
						<input type="text" name="watering" id="name" class="case">
					</p>
					<p>
						<label for="name">Ensoleillement</label>
					</p>
					<p>
					<select name="exposure" id="exposure">
						<option value="soleil">Soleil</option>
						<option value="mi-ombre">Mi ombre</option>
						<option value="ombre">Ombre</option>

					</select>
					</p>
					<p>
						<label for="name">Rempotage</label>
					</p>
					<p>
						<input type="text" name="repotting" id="name" class="case">
					</p>
				</div>
				<input class="align-items-center mb-4" type="submit" value="Envoyer sur repertoire" class="btn btn-secondary">
			</form>
		</section>

	</main>

{% endblock %}
