

<div class="main">
{% block header %}
	{% include "/layout/header-card.twig"%}
{% endblock %}

{% block main %}

	
		<div>
			{% if plant.planteType == "interieur" %}
				
				<div class="carteFond">
					<img src="../images/fond/interieur.jpg" alt="" class="img-fluid carteInterieur">
					<div class="{% if plant.exposure == "soleil" %}emplacementIntSoleil {% endif %} {% if plant.exposure == "mi-ombre" %}emplacementIntMiOmbre {% endif %}{% if plant.exposure == "ombre" %}emplacementIntOmbre {% endif %}">
						<div class="row col-2">
							<img  src="../images/plantes/{{plant.image}}"  alt="" class="img-fluid ">
						</div>
						<button class="button" type="submit">Alerte arrosage!!</button>
					</div>
				</div>
			{% endif %}

			{% if plant.planteType == "exterieur" %}
				<div class="carteFond">
					<img src="../images/fond/exterieur.jpg" alt="" class="img-fluid carteExterieur">
					<div class="{% if plant.exposure == "soleil" %}emplacementExtSoleil {% endif %} {% if plant.exposure == "mi-ombre" %}emplacementExtMiOmbre {% endif %}{% if plant.exposure == "ombre" %}emplacementExtOmbre {% endif %}">
						<div class="row col-2">
							<img  src="../images/plantes/{{plant.image}}" alt="" class="img-fluid ">
						</div>
						<button class="button" type="submit">Alerte arrosage!!</button>
					</div>
				</div>
			{% endif %}
		</div>
	
{% endblock %}
{% block footer %}
	{% include "/layout/footer-card.twig"%}
{% endblock %}
</div>
