{% extends "../main.twig" %}

{% block stylesheet %}

	<link rel="stylesheet" href="../css/cardPlante.css">

{% endblock %}
{% block header %}
	{% include "/layout/header-card.twig"%}
{% endblock %}

{% block main %}

	<div class="main container-fluid">
		<div class="row">
			{% if plant.planteType == "interieur" %}
				<img src="../images/fond/piece.png" alt="" class="carteInterieur">
			{% endif %}
			{% if plant.planteType == "exterieur" %}
            <div class="carteFond">
            <img src="../images/fond/exterieur.jpg" alt="" class="carteExterieur">
            </div>	
			{% endif %}
			<div class="photo">
				<div class="row col-2">
					<img src="../images/plantes/{{plant.image}}"width="100%" alt="" class="{% if plant.exposure == "soleil" %}emplacementSoleil {% endif %} {% if plant.exposure == "mi-ombre" %}emplacementMiOmbre {% endif %}{% if plant.exposure == "ombre" %}emplacementOmbre {% endif %}">
					</div>
				<button class=" button col-2" type="submit">Alerte arrosage!!</button>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{% include "/layout/footer-card.twig"%}
{% endblock %}
