{% extends "../main.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/connect.css">
{% endblock %}

{% block main %}



	<section style="text-align:center" class=" row col-lg-9 col-md-auto" >
		<h1 >Connection</h1>
		<form method="post" action="/findOne" class = "connect">
			
			<article>
				<div>
					<label for="user">Pseudo</label>
				</div>
				<br>
				<div>
					<input type="texte" id="name" name="name">
				</div>
				<br>
				<div>
					<label for="password">Mot de passe</label>
				</div>
				<br>
				<div>
					<input type="text" id="password" name="password">
				</div>
				<br>
				<div>
					<button type="submit">Validez</button>
				</div>
			</article>
		</form>
	</section>
{% endblock %}
