{% extends "../main.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block main %}

<form method="post" action="/user">

	<section>
		<h1>Inscription</h1>
		<article>
			<div>
				<label for="user">Pseudo</label>
			</div>
			<div>
				<input type="texte" id="name" name="name">
			</div>
			<div>
				<label for="mail">Mail</label>
			</div>
			<div>
				<input type="text" id="mail" name="name">
			</div>
			<div>
				<label for="password">Mot de passe</label>
			</div>
			<div>
				<input type="text" id="password" name="password">
			</div>
			<button type="submit">Validez</button>

		</article>
	</section>

</form>
{% endblock %}