<footer>
	<div class="footer">
			<span class="copyright">
				Cess & Adri Ri7 2022</span>
			<div class="">
				<a href="http://www.hotmail.com/?mkt=fr-fr">
					<img class="img logo-mail p-1" src="..\images\logo\mail.png" width="50px">
				</a>
				<a href="https://www.facebook.com/Fwpro01">
					<img class="img logo-facebook p-1 mx-3" src="..\images\logo\facebook.png" width="50px">
				</a>
				<a href="https://www.instagram.com">
					<img class="img logo-insta p-1" src="..\images\logo\insta.png" width="50px">
				</a>
			</div>
	</div>
</footer>
