{% block stylesheet %}
	<link rel="stylesheet" href="/css/cardplante.css">

{% endblock %}
<header class="header-card">
	<nav class="header-calendar bg-light">
		<div>
			<a id="header-card-title" class="container-fluid text-align-center" style="color:#005C53" href="#">Click sur le calendrier d'arrosage pour programmer l'alerte
			</a>
		</div>

	</nav>
</header>

