<header>
	<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
		<a href="home">
			<img src="..\images\logo\happy-planter.png" alt="" width="100" height="100" class="{% if action == 'home'%} active {% endif %}">
		</a>
		<a class="navbar-brand" style="color:#FFFFFF" href="#">{{title}}</a>
		<ul class="nav nav-pills">
			<li class="nav-item dropstart">
				<a class="nav-link dropdown-toggle dropstart" style="color:#005C53" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
				<ul class="dropdown-menu">
					{% if not user %}
						<li>
							<a class="dropdown-item {% if action == " subscribe" %} active {% endif %}" href="/subscribe">Inscription</a>
						</li>
						<li>
							<a class="dropdown-item {% if action == " connexion" %} active {% endif %}" href="/connexion">Connexion</a>
						</li>
					{% endif %}
					<li>
						<a class="dropdown-item {% if action == " directory" %} active {% endif %}" href="/directory">Répertoire</a>
					</li>
					{% if user %}
						<li>
							<a class="dropdown-item {% if action == " deletone" %} active {% endif %} " href="/logout">Déconnexion</a>
						</li>
					{% endif %}

				</ul>
			</li>
		</ul>
	</nav>
</header>
