<header>
	<nav class="navbar navbar-light bg-light">

		<strong>
			<a class="navbar-brand d-flex" style="color:#005C53" href="#">Click sur le calendrier d'arrosage pour programmer l'alerte
			</a>
		</strong>

	</nav>
</header>
